{% extends 'MDBDocumentBundle::layout.html.twig' %}

{% block page_header %}
<div class="document-toolbar">
	<a id="document-add-btn" href="{{ path("mdb_document_document_new")}}" class="btn btn-info">
		<i class="icon-white icon-plus"></i> 
		Add new document
	</a>

	<form class="form-search" id="document-search" action="{{ path("mdb_document_document_index") }}" method="get" >
		<div class="input-append">
			<input type="text" name="q" class="span2 search-query">
			<button type="submit" class="btn">Search</button>
		</div> 
	</form>

</div>
{% endblock %}

{% block content_row %}
<div class="span12">
	{% for document in pagination %}
	<div class="media span11">
		<a class="pull-left" href="{{ path('mdb_document_document_show' , {'id' : document.id}) }}">
			{% if document.files.last.id is defined %}
				<img class="media-object" src="{{ document.files.last.id | imagine_filter('list_thumb') }}">
			{% endif %}
		</a>
		<div class="media-body">
			<h4 class="media-heading">{{ document.title }}</h4>
			{{ document.description }}
			<span class="label label-info">ver.{{ document.latestVersionNumber }}</span>
			<a href="{{ path('mdb_document_document_delete', {'id': document.id} ) }}"><i class="icon-trash"></i></a>
		</div>
	</div>
	{% endfor %}
	{{ pagination.render()|raw }}
</div>
{% endblock %}
