{% extends 'MDBDocumentBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} | 
    {{ document.title}} | ver. {{ file.version }}    
{% endblock %}

{% block headline %}
    {{ document.title }} 

    <!-- <div class="span3"> -->
        <form action="{{ path('mdb_document_document_files', {'documentId': document.id }) }}"  method="POST" {{ form_enctype(fileForm) }}>
            {{ form_row(fileForm.file) }}
            {{ form_row(fileForm._token) }}
            <input type="submit" value="Upload new version" class="btn">
        </form>
    <!-- </div> -->

    <select class="pull-right" name="version" id="document-version-switch">
        {% for file in document.files %}
            <option value="{{ file.version }}">Version {{ file.version }}</option>
        {% endfor %}
    </select>
{% endblock %}

{% block content %}

    <input type="hidden" id="document-id" value="{{ document.id }}">

    <div class="span12">
        <div class="span8">
            {% include 'MDBDocumentBundle:Document:show_file_embedView.html.twig' with { 'file': file }%}
        </div>
        <div class="span3">
            {% include 'MDBDocumentBundle:Document:show_file_metadata.html.twig' with { 'file': file }%}
        </div>
    </div>
{% endblock %}
